@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Roboto', sans-serif
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: dimgray;
}

/* main divs */

.container {
    width: 40%;
    display: grid;
    grid-template-columns: 55.1% .9% 44%;
    place-items: center;
    padding: 3rem;
    margin: auto;
    perspective: 1300px;
    
}

.day {
    justify-self: end;
    background: #605FB0;
    transform: rotateY(8deg);
    height: 32rem;
    grid-column: 1/3;
    z-index: 1;
}

.general {
    background: rgb(137,138,145);
    background: linear-gradient(90deg, rgba(101,101,105,1) 0%, rgba(85,87,98,1) 49%, rgba(64,64,68,1) 100%);
    color: white;
    height: 30rem;
    grid-column: 2/4;
    position: absolute;
    font-size: 1.25rem;
}

.widget {
    width: 90%;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.init {
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    text-align: center;
}

/* weather conditions */

.clearday {
    background: rgb(226,202,60);
    background: linear-gradient(90deg, rgba(226,202,60,1) 0%, rgba(240,214,1,1) 37%, rgba(240,255,0,1) 100%);
}

.cloudday {
    background: rgb(188,197,246);
    background: linear-gradient(90deg, rgba(188,197,246,1) 0%, rgba(157,170,246,1) 49%, rgba(97,112,255,1) 100%);
}

.heavycloudday {
    background: rgb(188,197,246);
    background: linear-gradient(90deg, rgb(233, 236, 255) 0%, rrgb(186, 196, 255)49%, rgb(110, 124, 255) 100%);
}

.elseday {
    background: rgb(227,231,255);
    background: linear-gradient(90deg, rgba(227,231,255,1) 0%, rgba(233,236,255,1) 49%, rgba(167,175,255,1) 100%);    
}

.clearnight {
    background: rgb(50,71,189);
    background: linear-gradient(90deg, rgba(0,10,107,1) 0%, rgba(0,20,149,1) 49%, rgba(50,71,189,1) 100%);
    color: white
}

.cloudnight {
    background: rgb(92,109,204);
    background: linear-gradient(90deg, rgba(39,51,167,1) 0%, rgba(32,52,178,1) 49%, rgba(39,51,167,1)rgba(92,109,204,1) 100%);
    color: white
}

.heavycloudnight {
    background: rgb(92,109,204);
    background: linear-gradient(90deg, rgba(64,73,160,1) 0%, rgba(74,84,146,1) 49%, rgba(92,109,204,1) 100%);
    color: white
}

.elsenight {
    background: rgb(8,33,171);
    background: linear-gradient(90deg, rgba(18,21,53,1) 0%, rgba(0,12,84,1) 49%, rgba(8,33,171,1) 100%);
    color: white;
}

/* parts of day panel */

.weekDay {
    margin-top: .5rem;
    font-size: 2.5rem;
}

.city {
    padding-top: .75rem;
    font-size: 1.5rem;
}

.wind {
    padding-top: .75rem;
    font-size: 1.5rem;
    flex-grow: 1;
}

.conditions {
    margin-bottom: auto;
}

.temperature {
    font-size: 2.5rem
}

.description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.image {
    height: 6rem;
}

/* parts of general panel */

.followingdays {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dayoverview {
    height: 6rem;
    flex: 1;
    text-align: center;
    margin-bottom: 30px;
    font-size: .8rem;

}

/* parts of searchbar */

.validation {
    font-size: 2rem
}